body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
}

h1 img {
    width: 50px;
    vertical-align: middle;
}

.container {
    background-color: #111;
    padding: 20px;
    border-radius: 8px;
}

.form-control, .btn, .table {
    background-color: #222;
    color: #0f0;
    border: 1px solid #0f0;
}

.form-control:focus, .btn:focus, .table:focus {
    background-color: #333;
    color: #0f0;
}

.btn-warning {
    color: #000;
    background-color: #0f0;
    border-color: #0f0;
}

.btn-warning:hover {
    background-color: #0b0;
    border-color: #0b0;
}

.table thead {
    background-color: #333;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #222;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #111;
}